/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db

app/config/database.php
*.iml
.idea/
public/dl/
_ide_helper.php
_ide_helper_models.php
public/.sass-cache/
app/storage/debugbar/*.json
workbench/