@import "../_yeti";

@font-face {
  font-family: 'bold';
  src: url('../../font/antonio-bold-webfont.eot');
  src: url('../../font/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../font/antonio-bold-webfont.woff') format('woff'),
  url('../../font/antonio-bold-webfont.ttf') format('truetype'),
  url('../../font/antonio-bold-webfont.svg#antoniobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'regular';
  src: url('../../font/antonio-regular-webfont.eot');
  src: url('../../font/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../font/antonio-regular-webfont.woff') format('woff'),
  url('../../font/antonio-regular-webfont.ttf') format('truetype'),
  url('../../font/antonio-regular-webfont.svg#antonioregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lillyregular';
  src: url('../../font/Lilly__-webfont.eot');
  src: url('../../font/Lilly__-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../font/Lilly__-webfont.woff') format('woff'),
  url('../../font/Lilly__-webfont.ttf') format('truetype'),
  url('../../font/Lilly__-webfont.svg#lillyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  font-family: 'regular';
}


.logo {
  font-size:56px;
  font-family: 'bold', arial, sans-serif;
  color:#333;
  text-align: center;
}

.container-login {
  padding-top:150px;
  >.panel-login {
    img {
      display:block;
      margin:0 auto;
      margin-bottom:40px;
    }
    max-width: 600px;
    margin:0 auto;
  }
}

.container-layout {
  &.moar-padding {
    margin-top:60px;
  }
  padding-top:50px;
  h2 {
    margin-top:0;
    margin-left: 20px;
  }
}

table a.btn, .table a.btn {
  text-decoration: none;
}

.pagination-center {
  text-align:center;
}

.alert.alert-floating {
  border-top: 1px solid #727272;
  position: fixed;
  width: 100%;
  border-radius: 0;
  bottom: -70px;
  margin: 0;
  z-index: 99999;
  -webkit-transition: bottom 0.15s linear;
  transition: bottom 0.15s linear;
  &.in {
    bottom:0;
  }

  p {
    margin:0;
    display: inline-block;
    padding: 6px;
    font-size: 15px;
  }
  form {
    display: inline-block;
    float: right;
  }
}

.admin-thumbnail{
  max-width: 150px;
  margin-bottom: 20px;
}

.overview-actions{
  width: 130px;
  padding: 0 !important;
}
